<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Weather App</h1>
        <form method="post" action="/weather" class="form-inline justify-content-center">
            <input type="text" name="city" placeholder="Enter city" class="form-control mb-2 mr-sm-2">
            <button type="submit" class="btn btn-primary mb-2">Get Weather</button>
        </form>
        {% if weather_data %}
        <div class="weather-result mt-4 text-center">
            <h2>Weather in {{ weather_data.city }}</h2>
            <p class="lead">Temperature: {{ weather_data.temperature }} °C</p>
            <p>Description: {{ weather_data.description }}</p>
            <img src="http://openweathermap.org/img/w/{{ weather_data.icon }}.png" alt="Weather icon">
        </div>
        {% endif %}
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
